.about {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.logo-container {
    flex: 0 0 auto;
    margin-right: 2rem;
}

.logo-container img {
    max-width: 200px;
    height: auto;
}

.description {
    flex: 1;
}

@media screen and (max-width: 768px) {
    .about {
        flex-direction: column;
    }

    .logo-container {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}
